*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    background-color: #BFD7ED;
}
main,p,h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 60px;
    font-weight: 700;
    }
h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
p{
    font-size: 20px;
    font-weight: 600;

}
header,footer{
    height: 10vh;
    display: flex;
    justify-content: center;
}
main{
    height:80vh;
}
#game-container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    margin-bottom: 25px;

}
.game-square{
    border: 5px solid #0074B7;
    background-color: #60A3D9;
    margin: 5px;
    transition: 0.3s;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.game-square:hover{
    background-color: #3c678a;
    border: 5px solid #003a5c;
}
.game-square[won="won"]{
    background-color: rgb(197, 77, 77);
    border: 5px solid rgb(118, 0, 0);
}

.game-square[won="won"]:hover{
    background-color: rgb(143, 63, 63);
    border: 5px solid rgb(84, 0, 0);
}
#startDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#gamePlayButton{
    width: 150px;
    height: 40px;
    color: rgb(254, 246, 220);
    font-size: 20px;
    font-weight: 500;
    border: 4px solid #0074B7;
    background-color: #60A3D9;
    transition: 0.15s;
}
#gamePlayButton:hover{
    background-color: #3c678a;
    border: 4px solid #003a5c;
    color: rgb(255, 251, 236);
}
h3{
    font-size: 40px;
    color: rgb(255, 251, 236);
    opacity: 1;
    margin-bottom: 20px;
}
h4{
    font-size: 25px;
    font-weight: 600;
}
#gamePlayAgainButton{
    width: 140px;
    height: 60px;
    color: rgb(60, 60, 60);
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    background-color: #aac1d7;
    border: 5px solid rgb(70, 70, 70);
}
#gamePlayAgainButton:hover{
    background-color: #9db1c2;
}
#xwin,#owin{
    margin-left: 8px;
}
#xwin{
    margin-right: 25px;
}

@media (max-width:575px){
    p{
        font-size: 17px;
    }
} 
@media (max-width:500px){
    #game-container{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    p{
        font-size: 14px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 20px;
    }
    body{
        height: 100vh !important;
    }
    header,footer{
        height: 10% !important;
    }
    main{
        height: auto !important;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #gamePlayAgainButton{
        font-size: 15px;
        width: 90px;
    }
    h4{
        font-size: 20px;
    }
}
@media (max-width:450px){
    p{
        font-size: 11px;
    }
}
@media (max-width:350px){
    body{
        min-width: 350px;
    }
}
@media (max-height:900px){
    header,footer{
        height: 10%;
    }
    main{
        height: 80%;
    }
    body{
        height: 100vh;
    }
}
@media (max-height:800px){
    body{
        min-height: 800px;
    }
    header,footer{
        height: 10%;
    }
    main{
        height: 73%;
    }
    #game-container{
        margin-bottom: 5px;
    }
    h2{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}