*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
body{
    background-color: #BFD7ED;
}
main,p,h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size: 60px;
    font-weight: 700;
    }
h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    }
p{
    font-size: 20px;
    font-weight: 600;

}
header,footer{
    height: 10vh;
    display: flex;
    justify-content: center;
}
main{
    height:80vh;
}
#game-container{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

}
.game-square{
    border: 5px solid #0074B7;
    background-color: #60A3D9;
    margin: 5px;
    transition: 0.3s;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.game-square:hover{
    background-color: #3c678a;
    border: 5px solid #003a5c;
}

@media (max-width:575px){
    p{
        font-size: 17px;
    }
} 
@media (max-width:500px){
    #game-container{
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    p{
        font-size: 14px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 20px;
    }
    body{
        height: 100vh !important;
    }
    header,footer{
        height: 10% !important;
    }
    main{
        height: auto !important;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
@media (max-width:450px){
    p{
        font-size: 11px;
    }
}
@media (max-width:350px){
    body{
        min-width: 350px;
    }
}
@media (max-height:900px){
    header,footer{
        height: 10%;
    }
    main{
        height: 80%;
    }
    body{
        height: 100vh;
    }
}
@media (max-height:800px){
    body{
        min-height: 800px;
    }
    header,footer{
        height: 10%;
    }
    main{
        height: 70%;
    }
}